* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    background-color: #fff;
    width: 100%;
    height: 50px;
    /* border-bottom: 0.1px solid rgb(228, 228, 228); */
}

.gnb {
    position: relative;
    width: 100%;
    padding: 15px;
    max-width: 1200px;
    margin: auto;
}

.logo {
    display: inline-block;
    text-decoration: none;
    color: #f9d039;
    font-weight: 700;
    font-size: 18px;
}

nav {
    float: right;
}

nav ul {
    font-size: 0;
}

nav li {
    font-size: 14px;
    display: inline-block;
    margin-left: 40px;
}

nav li a {
    color: #565B64;
    text-decoration: none;
}

main {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 764px;
    margin: auto;
    line-height: 1.5;
}

main h1 {
    font-size: 36px;
    font-weight: 700;
    color: #24292E;
    margin-top: 179px;
    margin-bottom: 29px;
}

main p {
    font-size: 12px;
    font-weight: 400;
    color: #636464;
    margin-bottom: 51px;
}

button {
    border: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

button .yellow-btn {
    width: 170px;
    height: 50px;
    box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.3);
    border-radius: 8px;
}

.main-images {
    position: absolute;
    top: 63px;
    right: 20px;
    width: 420px;
    height: 650px;
}

.descriptions {
    background-color: #F7F7F4;
    width: 100%;
    height: 1558px;
}

.descriptions .description-container {
    position: relative;
    width: 100%;
    max-width: 765px;
    margin: auto;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
}

.description-container .description-1 {
    margin-top: 152px;
    height: 525px;
}

.description-1 .description-1-image {
    position: absolute;
    width: 264px;
    height: 525px;
}

.description-1 .text {
    float: right;
    text-align: right;
}

.description-1 .text h1 {
    color: #050505;
    font-weight: 700;
    font-size: 36px;
    margin-top: 81px;
}

.description-1 .text p {
    color: #373737;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    margin-top: 27px;
    letter-spacing: 0.3px;
    margin-bottom: 27px;
}

.tag {
    background-color: #f9d039;
    width: 54px;
    border-radius: 7.5px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    padding: 4px 10px 4px 10px;
    float: right;
    letter-spacing: 0.1px;
}

.description-container .description-2 {
    margin-top: 137px;
    height: 558px;
}

.description-2 .description-2-image {
    width: 396px;
    height: 559px;
    float: right;
}

.description-2 .text {
    text-align: left;
}

.description-2 .text h1 {
    color: #050505;
    font-weight: 700;
    font-size: 36px;
    padding-top: 81px;
}

.description-2 .text p {
    color: #373737;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    margin-top: 27px;
    letter-spacing: 0.3px;
    margin-bottom: 27px;
}

#tag_left {
    float: left;
}

.reviews {
    width: 100%;
    background-color: #f9d039;
}

.reviews .reviews-container {
    width: 100%;
    max-width: 770px;
    padding-top: 37px;
    padding-bottom: 37px;
    margin: auto;
    line-height: 1.5;
}

.reviews .review-card {
    position: relative;
    width: 170px;
    height: 170px;
    background-color: #fff;
    display: inline-block;
    box-shadow: 0px 0px 8px rgba(20, 20, 20, 0.4);
    margin-left: 20px;
    border-radius: 14px;
}

.review-card .content {
    color: #2b2b2b;
    padding-top: 30px;
    font-size: 11px;
    text-align: center;
    font-weight: 400;
}

.review-card .nickname {
    position: absolute;
    color: #767676;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    right: 0;
    left: 0;
    bottom: 30px;
}

#no-margin {
    margin: 0;
}

.install {
    padding-top: 162px;
    padding-bottom: 162px;
    width: 100%;
    background-color: #fff;
}

.install-container {
    width: 100%;
    max-width: 580px;
    height: 364px;
    margin: auto;
    text-align: center;
}

.install-container img {
    width: 125px;
    height: 125px;
}

.install-container h2 {
    color: #050505;
    font-size: 36px;
    font-weight: 700;
    padding-top: 42px;
    padding-bottom: 8px;
    line-height: 1.5;
}

.install-container h3 {
    color: #050505;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 47px;
}

.install-container button img {
    width: 170px;
    height: 50px;
    box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.3);
    border-radius: 8px;
}

footer {
    width: 100%;
    background-color: #F7F7F4;
}

.footer-container {
        width: 100%;
        max-width: 1200px;
        padding: 67px 20px 67px 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
}

footer .content {
    display: inline-block;
    margin-right: 98px;
}

footer .content .title {
    color: #727171;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 6px;
}

footer .content p {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
}